# Prerequisites
*.d
*.vsidx
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Deps
antlr4/
boost/
boost_1_86_0/
fmt/
glfw-3.4/
imgui/
imgui-sfml/
json/
SFML/
libgit2/
FortIDE/
spdlog/
Terminal/
tinyxml2/
toml11-main/
obj/

#Ex. Dirs
.vs/
bin/

